@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

.heart {
  position: absolute;
  background: url("../../utility/images/heart.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 120px;
  width: 120px;

  cursor: pointer;
}

.heartActive:before {
  color: #000;
}

.heartActive {
  color: #000;
}
.heart.heartActive {
  animation: animate 0.8s steps(28) 1;
  background-position: right;
}
@keyframes animate {
  50% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
