@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

/* .content.heartActive {
  border-color: #d14159;
  background: #421c23;
} */
.heart {
  position: absolute;
  background: url("../../utility/images/heart.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 100px;
  width: 100px;
  top: 85%;
  left: 21%;
  cursor: pointer;
}

.heartActive:before {
  color: #000;
}

.heartActive {
  color: #000;
}
.heart.heartActive {
  animation: animate 0.8s steps(28) 1;
  background-position: right;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
